
/* 垂直水平居中 */
.middle-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
  font-size: 12px;
  color: #495060;
  background-color: #fff;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  display: inline-block;
}

input::-webkit-input-placeholder {
  font-size: 12px;
  font-style: normal;
}

.text-center {
  text-align: center;
}